#blokus {
	width: 600px;
    text-align: center;
    font-size: 160px;
}

#motivation {
    text-align: center;
}

#scope {
    text-align: center;
    font-size: 30px;
}

#clientServer {
    text-align: center;
    font-size: 30px;
}
#gameRules {
    font-size: 30px;
    /*text-align: center;*/
}
#gameRules li {
	font-size:20px;
	width:400px;
}

#gameRules img {
	float: right;
	width: 330px;
	height: 330px;
}


p.title {
    text-align: center;
	font-size:50px;
	font-weight: bold;
}

#arch {
	width: 600px;
    text-align: center;
    font-size: 90px;
}

#client {
    text-align: center;
    font-size: 30px;
}
#rest {
    text-align: center;
    font-size: 30px;
}
#server {
    text-align: center;
    font-size: 30px;
}

#uris {
    text-align: center;
}

#restJSON {
    text-align: center;
}

#AJAX {
    text-align: center;
}

#status {
    text-align: center;
}

#socialAuth{
    text-align: center;
}

#django{
    text-align: center;
}

#jquery{
    text-align: center;
}

#raphael{
    text-align: center;
}

#backbone{
    text-align: center;
}

#underscore{
    text-align: center;
}

.arrow {
	width:205px;
}

.triangle-left {
	position:absolute;
	left:-11px;
	top:0px;
	border-color: transparent green transparent transparent;
	border-style: solid;
	border-width: 20px;
	width: 0;
	height: 0;
}

.triangle-right {
	position:absolute;
	left:200px;
	top:0px;
	border-color: transparent transparent transparent green;
	border-style: solid;
	border-width: 20px;
	width: 0;
	height: 0;
}

.line {
	position:absolute;
	top:13px;
	left:16px;
	border-color: green;
	border-style: solid;
	border-width: 6px;
	width:180px;
}
