#blokus {
	width: 600px;
    text-align: center;
    font-size: 160px;
}

#motivation {
    text-align: center;
}

#scope {
    text-align: center;
    font-size: 30px;
}

#definedRules {
    text-align: center;
    font-size: 30px;
}

#clientServer {
    text-align: center;
    font-size: 30px;
}
#gameRules {
    font-size: 30px;
    text-align: center;
}

p.title {
    text-align: center;
	font-size:50px;
	font-weight: bold;
}

#arch {
	width: 600px;
    text-align: center;
    font-size: 90px;
}

#client {
    text-align: center;
    font-size: 30px;
}
#rest {
    text-align: center;
    font-size: 30px;
}
#server {
    text-align: center;
    font-size: 30px;
}

#uris {
    text-align: center;
}

#restJSON {
    text-align: center;
}

#AJAX {
    text-align: center;
}

#status {
    text-align: center;
}
